*.class
*.log

# SBT
test-output/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache
.classpath
.project
.settings
.target/

# Mac
.DS_Store

# Other
*.pyc
production
test.out
lib/parboiled-core-1.1.7-sources.jar
lib/parboiled-core-1.1.7.jar
lib/parboiled-java-1.1.7-sources.jar
lib/parboiled-java-1.1.7.jar
lib/specs2_2.10-3.3.1.jar
META-INF/MANIFEST.MF
lib
